/* CSS Document */
* {
  	box-sizing: border-box;
}

body {
	text-align: center;
	margin: 0;
	padding: 0 0 1em 0;
	height: 100vh;
	overflow: auto;
	font-family: 'Raleway', sans-serif;
}

main {
	padding: 2em 1em;
}

legend {
	text-align: left;
}

input:focus,
textarea:focus {
	background-color: rgba(0, 0, 41, .10);
	transition: .33s;
	transform: scale(1.0125);
}

input::placeholder {
	text-align: right;
}

fieldset {
	border:  none;
}

.page-title {
	background-color: #000029;
	color: white;
	height: 2.5em;
	padding: .65em;
	text-transform: uppercase;
	font-size: 140%;
}

.header-content {
	padding: 1em;
}

.top-line {
	border-top: 6px solid #000029;
	border-bottom: 2px solid #000029;
	padding: 3px 0;
	border-left: none;
	border-right: none;
}

.bottom-line {
	border: 2px solid #000029;
}

.space {
	padding-top: 1em;
}

.contact-information {
	padding: 0;
	margin: 2em 0;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
}

.contact-information input, select {
	border: none;
	border-radius: 3px;
	padding: 1.5em 1em;
	float: right;
	width: 100%;
	background-color: #f2f2f2;
}

.contact-information label {
	float: left;
	padding: 1em 0 1em 0;
}

.zipcode {
	width: 50%;
}

.newsletter {
	text-align: left;
	margin-top: 1em;
	padding: 0;
}

.newsletter div {
	padding-bottom: 1em;
}

.newsletter-feedback textarea {
	margin-top: 1em;
	width: 100%;
	height: 150px;
}

.newsletter-checkboxes,
.newsletter-radios {
	display: flex;
	flex-flow: column;
}

.newsletter-checkboxes input, label,
.newsletter-radios input, label {
	margin-top: .5em;
}

.newsletter-checkboxes span,
.newsletter-radios span {
	padding-left: 1em;
}

#submitButton {
	width: 100%;
	height: 70px;
	background-color: #73EDFF;
	border: none;
	border-radius: 3px;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 120%;
	font-weight: 500;
}

@media screen and (min-width: 768px) {
	.contact-information {
		width: 70%;
		margin: 2em auto;
	}
	
	.contact-information input, select {
		width: 70%;
	}
	
	.contact-information div {
		padding-top: 1em;
	}
	
	.zipcode {
		margin-left: 15%;
	}
		
}